<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title Document
body
	h1 Hello world

	i testing jade compile via gulp build system
	
script(src="js/coffee-compiled.js")
script(src="js/es6-compiled.js")
script(src="js/plain.js")
