include /node_modules/bemto.jade/bemto
include _include/script
include _include/bemto-link
include _include/svg-icon

include user-mixins/nav

-
	set_bemto_settings({
		// prefix: 'b-',
		prefix: '',
		element: '__',
		modifier: '--'
	})

