include /node_modules/bemto.jade/bemto
include include/script
include include/bemto-link
include include/svg-icon

-
	set_bemto_settings({
		// prefix: 'b-',
		prefix: '',
		element: '__',
		modifier: '--'
	})

