extends ../layouts/default

block head
	- var pageTitle       = 'Template'
	- var pageDescription = ''
	- var pageKeywords    = ''

block scripts
	+script(['js/index.js?rev=@@hash'])

block content
	include ../blocks/main

