extends ../layouts/default

block prepend head
	- var pageTitle       = 'Template'
	- var pageDescription = ''
	- var pageKeywords    = ''

append scripts
	+script(['js/index.js?rev=@@hash'])

append content
	include ../blocks/main
