extends ../layouts/default

block head
	- pageTitle = 'Template';
	- pageDescription = '';
	- pageKeywords = '';

block scripts
	+script(['js/index.js?rev=@@hash'])

block content
	include ../blocks/main
