@require 'nib'
@import 'variables'

// stylus-type-utils setting
base-font-size = 75%

$html-background = #CCC
$test-background = #FFF

// nib feature
global-reset()

body
  // nib feature
  background linear-gradient(top, white, gray)

.container
    // stylus-type-utils feature
    font-size px(30)
    lost-center 980px

.el
    lost-waffle 1/2
    lost-utility edit
    outline 1px red solid

.test
    // nib feature
    overflow ellipsis
    font-size 15rem

    .wrap &
        background $test-background
        appearance none

*
*:after
*:before
    outline 0

html
    background-color $html-background
    font-size 2rem
    line-height .9

.bar
    position absolute 10px 20px 30px 40px

.responsive
    font-size responsive

a
    all initial

