@require 'nib'

// nib feature
global-reset()

body
  // nib feature
  background linear-gradient(top, white, gray)

.container
    lost-center 980px

.el
    lost-waffle 1/2
    lost-utility edit
    outline 1px red solid

.test
    font-size 15rem
    // nib feature
    overflow ellipsis

*
*:after
*:before
    outline none

.test
    .wrap &
        background #FFF
        appearance none

html
    background-color #CCC
    line-height 0.9
    font-size 2rem

.bar
    position absolute 10px 20px 30px 40px

.responsive
    font-size responsive

a
    all initial

