@require 'nib'
@import  'variables'
@import  'mixins/**/*'

// stylus-type-utils setting
base-font-size = 75%

$html-background = #CCC
$test-background = #FFF

// nib feature
global-reset()

body
  // nib feature
  background linear-gradient(top, white, gray)

  // jeet feature
  +below(900px)
      background red

.container
    // stylus-type-utils feature
    font-size px(30)
    lost-center 980px

.el
    lost-waffle 1/2
    lost-utility edit
    outline 1px red solid

.triangle
    vcenter()
    triangle(up-left, 2em, red)

    .wrap &
        background $test-background
        appearance none

.ellipsis
    // nib feature
    overflow ellipsis

    // translate mixin
    t-scale(1.2)

    font-size 15rem
    // longshadow mixin
    longshadow(text, yellow, 50)

*
*:after
*:before
    outline 0

html
    background-color $html-background
    font-size 2rem
    line-height .9

.bar
    position absolute 10px 20px 30px 40px

.responsive
    // rucksack-css feature
    font-size responsive
    // translate mixin
    t(20px)

a
    all initial

