
.test
    font-size 15rem

*
*:after
*:before
    outline none

.test
    .wrap &
        background #FFF
        appearance none

html
    background-color #CCC
    line-height 0.9
    font-size 2rem

.bar
    position absolute 10px 20px 30px 40px

.responsive
    font-size responsive

a
    all initial

