t($x=0, $y=0)
	transform translate($x, $y)

t-rotate($var=0)
	transform rotate( unit($var, deg) )

t-scale($var=1)
	transform scale($var)

smooth-edge()
	transform rotate(0.05deg)

gpu()
	transform translate3d(0, 0, 0)
